.button {
  display: block;
  margin: 0 auto;
  width: 150px;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #ff416c;
  background-color: #ff416c;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  transition: opacity 0.2s ease-in;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }

  &.button__white {
    margin-top: 40px;
    background-color: white;
    color: #ff416c;
  }
}



