.container {
  position: relative;
  padding: 80px 0;
  @media screen and (max-width: 768px) {
    padding: 30px 15px 80px;
  }
}
.content-wrap {
  position: relative;
  display: flex;
  margin: auto;
  width: 800px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 14px 28px #ccc, 0 10px 10px #ccc;
  overflow: hidden;

  .right,
  .left {
    position: relative;
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .right-inner,
  .left-inner {
    width: 100%;
  }

  .left {
    background: #ff416c;
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    transition: transform 0.6s ease-in-out;
  }

  .head {
    display: block;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }
  .title {
    text-align: left;
    margin-top: 40px;
    font-size: 14px;
    line-height: 1.8;
  }

  @media screen and (max-width: 768px) {
    display: block;
    width: auto;
    height: auto;
    .right,
    .left {
      width: auto;
      padding: 20px;
    }
    p {
      margin-top: 30px;
    }
  }
}

.button {
  display: block;
  margin: 0 auto;
  width: 150px;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #ff416c;
  background-color: #ff416c;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  transition: opacity 0.2s ease-in;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }

  &.button-white {
    margin-top: 40px;
    background-color: white;
    color: #ff416c;
  }
}

.link {
  a {
    position: relative;
    padding: 10px;
    font-size: 14px;
    &:last-child {
      margin-top: 30px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 1%;
      transform: translateY(-50%) rotate(45deg);
      width: 10px;
      height: 10px;
      border-top: 1px solid #ff416c;
      border-right: 1px solid #ff416c;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #ff416c;
      transform: scaleX(0);
      transform-origin: right top;
      transition: transform 0.3s;
    }
    &:hover::before {
      transform-origin: left top;
      transform: scaleX(1);
    }
  }
}

.form {
  margin-top: 40px;
  input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 30px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
  }
}

.theme-btn-container {
  max-width: 920px;
  margin: 0 auto;
  .theme-btn-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
    margin-left: auto;
    width: 60px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #131d2c;
    cursor: pointer;
    img {
      width: 23px;
      vertical-align: middle;
    }
    .dark {
      margin-left: 2px;
    }
    .light {
      margin-right: 2px;
    }

    .btn-theme {
      position: absolute;
      top: 50%;
      left: 1px;
      transform: translateY(-50%);
      width: 27px;
      height: 27px;
      border-radius: 50%;
      background: white;
      transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    }

    &.isDark {
      .btn-theme {
        transform: translate(29px, -50%);
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0 15px;
  }
}

body.isDark {
  background-color: #131d2c;
  color: #fff;

  .content-wrap {
    box-shadow: 0 14px 28px #556991, 0 10px 10px #556991;
  }
  .left {
    background: linear-gradient(to right, #30486d, #1f3a61);
  }
  .button,
  .prtin-btn {
    background: #fff;
    border: #fff;
    color: #274e85;
  }
  .link a::before {
    background-color: #fff;
  }
  .link a::after {
    border-color: #fff;
  }
  .markdown-body {
    color: #fff;
  }
  .markdown-body table tr {
    background: transparent;
  }
}

.prtin-btn-container {
  max-width: 920px;
  margin: 0 auto;
}
.prtin-btn {
  position: absolute;
  top: -60px;
  display: block;
  width: 150px;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #ff416c;
  background-color: #ff416c;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  transition: opacity 0.2s ease-in;
  cursor: pointer;
}
