@import "tailwindcss";

@theme {
  /* すべてのテーマの設定を無効化 */
  /* --*: initial; */
  --color-\*: initial;
  --color-white: #fff;
  --color-primary: #ff416c;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-gray-100: #f2f2f2;
}

a {
  display: block;
  text-decoration: none;
}

@media all {
  .page-break {
    display: none;
  }
}

@media print {

  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }

  body,
  page {
    margin: 0;
    box-shadow: 0;
  }

  .print-none {
    display: none !important;
  }

  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
}

@page {
  /* biome-ignore lint/suspicious/noShorthandPropertyOverrides: <explanation> */
  margin: 10mm;
  size: auto;
}