@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Noto+Sans+JP&display=swap');
/* html, */
body {
	margin: 0;
	font-family: "Montserrat", "Noto Sans JP", sans-serif;
}

a {
	display: block;
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media print {
	body,
	page {
		margin: 0;
		box-shadow: 0;
	}
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.3rem;
}